USE [master]
GO
/****** Object:  Database [DeTai_02]    Script Date: 15/05/2024 8:02:42 SA ******/
CREATE DATABASE [DeTai_02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeTai_02', FILENAME = N'C:\Users\tulev\DeTai_02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DeTai_02_log', FILENAME = N'C:\Users\tulev\DeTai_02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeTai_02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeTai_02]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[IdCandidate] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC,
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[Id] [varchar](50) NOT NULL,
	[Avatar] [varchar](500) NULL,
	[JobPos] [nvarchar](62) NULL,
	[CareerGoal] [text] NULL,
	[Education] [text] NULL,
	[Experience] [text] NULL,
	[Activity] [text] NULL,
	[Award] [text] NULL,
	[Certificate] [text] NULL,
	[UploadDate] [varchar](50) NULL,
 CONSTRAINT [PK_CVs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhDang_rtbx_NTD]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhDang_rtbx_NTD](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[RtbxStyle] [varchar](100) NOT NULL,
	[Color] [varchar](100) NULL,
	[Font] [varchar](100) NULL,
	[FontStyle] [varchar](100) NULL,
	[Size] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC,
	[RtbxStyle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhDang_rtbx_UV]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhDang_rtbx_UV](
	[Id] [varchar](50) NOT NULL,
	[RtbxStyle] [varchar](100) NOT NULL,
	[Color] [varchar](100) NULL,
	[Font] [varchar](100) NULL,
	[FontStyle] [varchar](100) NULL,
	[Size] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[RtbxStyle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostings]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostings](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[IconCompany] [varchar](500) NULL,
	[Job] [nvarchar](30) NULL,
	[JobName] [nvarchar](62) NULL,
	[Salary] [decimal](10, 2) NULL,
	[Experience] [nvarchar](100) NULL,
	[WorkFormat] [nvarchar](100) NULL,
	[DatePosted] [varchar](50) NULL,
	[Deadline] [varchar](50) NULL,
	[JobDescription] [ntext] NULL,
	[Requirements] [ntext] NULL,
	[Benefit] [ntext] NULL,
	[Activity] [ntext] NULL,
	[Award] [ntext] NULL,
	[License] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Letter]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Letter](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[IdCandidate] [varchar](50) NOT NULL,
	[Sender] [varchar](100) NOT NULL,
	[Receiver] [varchar](100) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Content] [text] NOT NULL,
	[DateSent] [varchar](100) NOT NULL,
	[InterviewDate] [varchar](100) NOT NULL,
	[InterViewTime] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC,
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichPhongVan]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichPhongVan](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[IdCandidate] [varchar](50) NOT NULL,
	[LinkAvatar] [varchar](200) NULL,
	[UpdateDate] [varchar](100) NULL,
	[InterviewDate] [varchar](100) NULL,
	[InterviewTime] [varchar](100) NULL,
	[JobName] [varchar](100) NULL,
	[CandidateName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC,
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuuCV]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuCV](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[IdCandidate] [varchar](50) NOT NULL,
	[Follow] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC,
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuuTin]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuTin](
	[IdCompany] [varchar](50) NOT NULL,
	[IdJobPostings] [varchar](50) NOT NULL,
	[IdCandidate] [varchar](50) NOT NULL,
	[Follow] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC,
	[IdJobPostings] ASC,
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATUYENDUNG]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATUYENDUNG](
	[Id] [varchar](50) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
	[Fname] [nvarchar](62) NOT NULL,
	[Email] [nvarchar](62) NOT NULL,
	[PhoneNTD] [nvarchar](12) NOT NULL,
	[JobPos] [nvarchar](62) NOT NULL,
	[Company] [nvarchar](62) NOT NULL,
	[JobLocation] [varchar](100) NOT NULL,
	[SocialNetwork] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Id] [varchar](50) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
	[UserName] [varchar](32) NOT NULL,
	[UserPassword] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[IdCandidate] [varchar](50) NOT NULL,
	[DatePosted_up] [varchar](50) NOT NULL,
	[DateSent] [varchar](50) NOT NULL,
	[Avatar] [varchar](200) NULL,
	[Name] [varchar](500) NULL,
	[Content] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateSent] ASC,
	[DatePosted_up] ASC,
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan_ChiTietTin]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan_ChiTietTin](
	[IdJobPostings] [varchar](50) NOT NULL,
	[Id] [varchar](50) NOT NULL,
	[DateSent] [varchar](50) NOT NULL,
	[Avatar] [varchar](200) NULL,
	[Name] [varchar](500) NULL,
	[Content] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateSent] ASC,
	[IdJobPostings] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinXinViec]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinXinViec](
	[Id] [varchar](50) NOT NULL,
	[DatePosted] [varchar](50) NOT NULL,
	[Avatar] [varchar](200) NULL,
	[Name] [varchar](500) NULL,
	[Content] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[DatePosted] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNGVIEN]    Script Date: 15/05/2024 8:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNGVIEN](
	[Id] [varchar](50) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
	[Fname] [nvarchar](100) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[BirthDate] [varchar](50) NOT NULL,
	[Link] [varchar](100) NOT NULL,
	[Email] [nvarchar](62) NOT NULL,
	[Address_C] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Applications] ([IdCompany], [IdJobPostings], [IdCandidate]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'0ce8682c-2145-4ae0-acd1-3ae717affd3e', N'1b21d928-f685-40b3-bd9a-1c34a932166b')
INSERT [dbo].[Applications] ([IdCompany], [IdJobPostings], [IdCandidate]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'0ce8682c-2145-4ae0-acd1-3ae717affd3e', N'442fd9cd-d1d8-482e-a53b-e51aa03bc6db')
INSERT [dbo].[Applications] ([IdCompany], [IdJobPostings], [IdCandidate]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'0ce8682c-2145-4ae0-acd1-3ae717affd3e', N'ca63e213-96fc-4499-a8db-985e65be9753')
GO
INSERT [dbo].[DinhDang_rtbx_NTD] ([IdCompany], [IdJobPostings], [RtbxStyle], [Color], [Font], [FontStyle], [Size]) VALUES (N'dd4d39a3-49f5-496f-b6f9-4ee5748d5658', N'ad462998-2353-45b2-a822-05ce005beeea', N'rtbx_moTaCongViec', N'Black', N'Segoe UI', N'Italic', CAST(12.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[DinhDang_rtbx_UV] ([Id], [RtbxStyle], [Color], [Font], [FontStyle], [Size]) VALUES (N'442fd9cd-d1d8-482e-a53b-e51aa03bc6db', N'rtbx_mucTieuNgheNghiep', N'Black', N'Segoe UI', N'Bold', CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[DinhDang_rtbx_UV] ([Id], [RtbxStyle], [Color], [Font], [FontStyle], [Size]) VALUES (N'ca63e213-96fc-4499-a8db-985e65be9753', N'rtbx_chungChi', N'Black', N'Segoe UI', N'Regular', CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[DinhDang_rtbx_UV] ([Id], [RtbxStyle], [Color], [Font], [FontStyle], [Size]) VALUES (N'ca63e213-96fc-4499-a8db-985e65be9753', N'rtbx_giaiThuong', N'Black', N'Segoe UI', N'Italic', CAST(12.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Letter] ([IdCompany], [IdJobPostings], [IdCandidate], [Sender], [Receiver], [Title], [Content], [DateSent], [InterviewDate], [InterViewTime]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'274ec4eb-4c9d-4be9-bb86-1da84162115c', N'1b21d928-f685-40b3-bd9a-1c34a932166b', N'vanduc123@gmail.com', N'tu123@gmail.com', N'sdv', N'sdv', N'11/05/2024 2:11:00 SA', N'01/05/2024 12:00:00 SA', N'01/05/2024 12:00:00 SA')
INSERT [dbo].[Letter] ([IdCompany], [IdJobPostings], [IdCandidate], [Sender], [Receiver], [Title], [Content], [DateSent], [InterviewDate], [InterViewTime]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'9508768a-317b-4391-93ec-6f2ebb0dddae', N'03cd0f1a-7f75-4eaf-8757-cab5e81f3e8b', N'vanduc123@gmail.com', N'doan123@gmail.com', N'xcb', N'cxv', N'10/05/2024 3:38:35 CH', N'19/05/2024 12:00:00 SA', N'01/05/2024 12:00:00 SA')
INSERT [dbo].[Letter] ([IdCompany], [IdJobPostings], [IdCandidate], [Sender], [Receiver], [Title], [Content], [DateSent], [InterviewDate], [InterViewTime]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'9508768a-317b-4391-93ec-6f2ebb0dddae', N'1b21d928-f685-40b3-bd9a-1c34a932166b', N'vanduc123@gmail.com', N'tu123@gmail.com', N'sd', N'sdv', N'10/05/2024 4:04:23 CH', N'06/05/2024 12:00:00 SA', N'01/05/2024 12:00:00 SA')
GO
INSERT [dbo].[LichPhongVan] ([IdCompany], [IdJobPostings], [IdCandidate], [LinkAvatar], [UpdateDate], [InterviewDate], [InterviewTime], [JobName], [CandidateName]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'274ec4eb-4c9d-4be9-bb86-1da84162115c', N'1b21d928-f685-40b3-bd9a-1c34a932166b', N'C:\Users\tulev\OneDrive\Pictures\logo\Screenshot 2024-05-09 154328.png', N'09/05/2024', N'01/05/2024 12:00:00 SA', N'01/05/2024 12:00:00 SA', N'DOCTOR', N'levantu')
INSERT [dbo].[LichPhongVan] ([IdCompany], [IdJobPostings], [IdCandidate], [LinkAvatar], [UpdateDate], [InterviewDate], [InterviewTime], [JobName], [CandidateName]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'9508768a-317b-4391-93ec-6f2ebb0dddae', N'03cd0f1a-7f75-4eaf-8757-cab5e81f3e8b', N'C:\Users\tulev\OneDrive\Pictures\logo\Screenshot 2024-05-09 154334.png', N'09/05/2024', N'19/05/2024 12:00:00 SA', N'01/05/2024 12:00:00 SA', N'BA', N'Le Khanh Doan')
INSERT [dbo].[LichPhongVan] ([IdCompany], [IdJobPostings], [IdCandidate], [LinkAvatar], [UpdateDate], [InterviewDate], [InterviewTime], [JobName], [CandidateName]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'9508768a-317b-4391-93ec-6f2ebb0dddae', N'1b21d928-f685-40b3-bd9a-1c34a932166b', N'C:\Users\tulev\OneDrive\Pictures\logo\Screenshot 2024-05-09 154328.png', N'09/05/2024', N'06/05/2024 12:00:00 SA', N'01/05/2024 12:00:00 SA', N'BA', N'levantu')
GO
INSERT [dbo].[LuuTin] ([IdCompany], [IdJobPostings], [IdCandidate], [Follow]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'9508768a-317b-4391-93ec-6f2ebb0dddae', N'ca63e213-96fc-4499-a8db-985e65be9753', N'flw')
GO
INSERT [dbo].[NHATUYENDUNG] ([Id], [UserType], [Fname], [Email], [PhoneNTD], [JobPos], [Company], [JobLocation], [SocialNetwork]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'Employer', N'vuvanduc', N'vanduc123@gmail.com', N'0232874278', N'Department Manager', N'FPT SOFTWARE', N'Ninh Binh', N'www.fpt.com')
INSERT [dbo].[NHATUYENDUNG] ([Id], [UserType], [Fname], [Email], [PhoneNTD], [JobPos], [Company], [JobLocation], [SocialNetwork]) VALUES (N'dd4d39a3-49f5-496f-b6f9-4ee5748d5658', N'Employer', N'tranvukhanh', N'khanh123@gmail.com', N'034827345', N'Team Leader', N'HALO VIET NAM', N'Binh Duong', N'www.facebook.com')
INSERT [dbo].[NHATUYENDUNG] ([Id], [UserType], [Fname], [Email], [PhoneNTD], [JobPos], [Company], [JobLocation], [SocialNetwork]) VALUES (N'dfd1de16-df05-4c7a-963f-c7278b0be15f', N'Employer', N'dangminhnhat', N'nhat123@gmail.com', N'0932488457', N'Employee', N'VUKHANH HOAPHAT', N'Binh Duong', N'www.zalo.com')
GO
INSERT [dbo].[TAIKHOAN] ([Id], [UserType], [UserName], [UserPassword]) VALUES (N'03cd0f1a-7f75-4eaf-8757-cab5e81f3e8b', N'Candidate', N'f', N'f')
INSERT [dbo].[TAIKHOAN] ([Id], [UserType], [UserName], [UserPassword]) VALUES (N'1b21d928-f685-40b3-bd9a-1c34a932166b', N'Candidate', N'j', N'j')
INSERT [dbo].[TAIKHOAN] ([Id], [UserType], [UserName], [UserPassword]) VALUES (N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'Employer', N'd', N'd')
GO
INSERT [dbo].[TinNhan] ([IdCandidate], [DatePosted_up], [DateSent], [Avatar], [Name], [Content]) VALUES (N'ca63e213-96fc-4499-a8db-985e65be9753', N'12/05/2024 3:16:02 CH', N'12/05/2024 10:00:22 CH', N'C:\Users\tulev\OneDrive\Pictures\logo\853a8699e57f3f9810354cd2d4a93ac1.jpg', N'FPT SOFTWARE', N'        private void btn_reload_lichPV_Click(object sender, EventArgs e)
        {
            NTD_DAO.sapXepLichPV(hienFullLichPV());
        }')
INSERT [dbo].[TinNhan] ([IdCandidate], [DatePosted_up], [DateSent], [Avatar], [Name], [Content]) VALUES (N'ca63e213-96fc-4499-a8db-985e65be9753', N'12/05/2024 3:15:52 CH', N'12/05/2024 8:53:45 CH', N'C:\Users\tulev\OneDrive\Pictures\logo\8a61f0a05dc671c8ffedd767de656170.jpg', N'HALO VIET NAM', N'hello world')
INSERT [dbo].[TinNhan] ([IdCandidate], [DatePosted_up], [DateSent], [Avatar], [Name], [Content]) VALUES (N'ca63e213-96fc-4499-a8db-985e65be9753', N'12/05/2024 3:15:52 CH', N'12/05/2024 8:54:05 CH', N'C:\Users\tulev\OneDrive\Pictures\logo\8a61f0a05dc671c8ffedd767de656170.jpg', N'HALO VIET NAM', N'hello everybody
')
GO
INSERT [dbo].[TinNhan_ChiTietTin] ([IdJobPostings], [Id], [DateSent], [Avatar], [Name], [Content]) VALUES (N'c589ae0f-a373-4e71-ac23-358ec1495458', N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'14/05/2024 4:59:25 SA', N'C:\Users\tulev\OneDrive\Pictures\logo\803a6a23e1fc1663cd64132dba8bda43.jpg', N'FPT SOFTWARE', N'var tin = (from temp in context.TinNhan_ChiTietTin
         where temp.IdJobPostings == t.IdJobPostings
         select temp).ToList();')
INSERT [dbo].[TinNhan_ChiTietTin] ([IdJobPostings], [Id], [DateSent], [Avatar], [Name], [Content]) VALUES (N'c589ae0f-a373-4e71-ac23-358ec1495458', N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'14/05/2024 5:03:52 SA', N'C:\Users\tulev\OneDrive\Pictures\logo\803a6a23e1fc1663cd64132dba8bda43.jpg', N'FPT SOFTWARE', N'uc_tinNhan.BackColor = Color.FromArgb(192, 255, 192);
uc_tinNhan.rtbx_noiDung.BackColor = Color.FromArgb(192, 255, 192);
uc_tinNhan.pnl_tinNhan.Dock = DockStyle.Left;')
INSERT [dbo].[TinNhan_ChiTietTin] ([IdJobPostings], [Id], [DateSent], [Avatar], [Name], [Content]) VALUES (N'c589ae0f-a373-4e71-ac23-358ec1495458', N'4417c858-7b72-4eed-a7f2-6ff08c632c31', N'14/05/2024 5:12:17 SA', N'C:\Users\tulev\OneDrive\Pictures\logo\803a6a23e1fc1663cd64132dba8bda43.jpg', N'FPT SOFTWARE', N'UC_TinNhan_ChiTietTin uc_tinNhan = new UC_TinNhan_ChiTietTin();
uc_tinNhan.pbx_avatar.Image = Image.FromFile(i.Avatar);
uc_tinNhan.lbl_tenUV.Text = i.Name;')
INSERT [dbo].[TinNhan_ChiTietTin] ([IdJobPostings], [Id], [DateSent], [Avatar], [Name], [Content]) VALUES (N'c589ae0f-a373-4e71-ac23-358ec1495458', N'ca63e213-96fc-4499-a8db-985e65be9753', N'14/05/2024 5:14:22 SA', N'C:\Users\tulev\OneDrive\Pictures\logo\Screenshot 2024-05-09 154334.png', N'Le Khanh Doan', N'if (xuatTT_DAO.trangThai_checkChanged("LuuTin", t.IdCompany, t.IdJobPostings, userType) == "flw")
    UC_tinTuyenDung.cbx_theoDoi.Checked = true;')
GO
INSERT [dbo].[TinXinViec] ([Id], [DatePosted], [Avatar], [Name], [Content]) VALUES (N'ca63e213-96fc-4499-a8db-985e65be9753', N'12/05/2024 3:15:52 CH', N'C:\Users\tulev\OneDrive\Pictures\logo\Screenshot 2024-05-09 154314.png', N'vothanhsang', N'hello all')
GO
INSERT [dbo].[UNGVIEN] ([Id], [UserType], [Fname], [Phone], [BirthDate], [Link], [Email], [Address_C], [Gender]) VALUES (N'03cd0f1a-7f75-4eaf-8757-cab5e81f3e8b', N'Candidate', N'Le Khanh Doan', N'0923478273', N'15/08/2023', N'www.google.com', N'doan123@gmail.com', N'Soc Trang', N'Male')
INSERT [dbo].[UNGVIEN] ([Id], [UserType], [Fname], [Phone], [BirthDate], [Link], [Email], [Address_C], [Gender]) VALUES (N'1b21d928-f685-40b3-bd9a-1c34a932166b', N'Candidate', N'levantu', N'0923445873', N'04/03/2024', N'www.hub.com', N'tu123@gmail.com', N'Ninh Thuan', N'Male')
INSERT [dbo].[UNGVIEN] ([Id], [UserType], [Fname], [Phone], [BirthDate], [Link], [Email], [Address_C], [Gender]) VALUES (N'442fd9cd-d1d8-482e-a53b-e51aa03bc6db', N'Candidate', N'vuvanduc', N'0385068953', N'16/06/2016', N'www.github.com', N'vantu123@gmail.com', N'Dak Lak', N'Male')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__C9F2845604694B4D]    Script Date: 15/05/2024 8:02:43 SA ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DinhDang_rtbx_UV] ADD  DEFAULT ('NULL') FOR [RtbxStyle]
GO
ALTER TABLE [dbo].[DinhDang_rtbx_UV] ADD  DEFAULT ('NULL') FOR [Color]
GO
ALTER TABLE [dbo].[DinhDang_rtbx_UV] ADD  DEFAULT ('NULL') FOR [Font]
GO
ALTER TABLE [dbo].[DinhDang_rtbx_UV] ADD  DEFAULT ('NULL') FOR [FontStyle]
GO
ALTER TABLE [dbo].[DinhDang_rtbx_UV] ADD  DEFAULT ((0)) FOR [Size]
GO
ALTER TABLE [dbo].[LuuCV] ADD  DEFAULT ('NULL') FOR [Follow]
GO
ALTER TABLE [dbo].[LuuTin] ADD  DEFAULT ('NULL') FOR [Follow]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[UNGVIEN] ([Id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([IdCompany], [IdJobPostings])
REFERENCES [dbo].[JobPostings] ([IdCompany], [IdJobPostings])
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[UNGVIEN] ([Id])
GO
ALTER TABLE [dbo].[DinhDang_rtbx_NTD]  WITH CHECK ADD FOREIGN KEY([IdCompany], [IdJobPostings])
REFERENCES [dbo].[JobPostings] ([IdCompany], [IdJobPostings])
GO
ALTER TABLE [dbo].[DinhDang_rtbx_UV]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[CVs] ([Id])
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD FOREIGN KEY([IdCompany])
REFERENCES [dbo].[NHATUYENDUNG] ([Id])
GO
ALTER TABLE [dbo].[LuuCV]  WITH CHECK ADD FOREIGN KEY([IdCompany], [IdJobPostings])
REFERENCES [dbo].[JobPostings] ([IdCompany], [IdJobPostings])
GO
ALTER TABLE [dbo].[LuuCV]  WITH CHECK ADD FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[UNGVIEN] ([Id])
GO
ALTER TABLE [dbo].[LuuTin]  WITH CHECK ADD FOREIGN KEY([IdCompany], [IdJobPostings])
REFERENCES [dbo].[JobPostings] ([IdCompany], [IdJobPostings])
GO
ALTER TABLE [dbo].[LuuTin]  WITH CHECK ADD FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[UNGVIEN] ([Id])
GO
ALTER TABLE [dbo].[NHATUYENDUNG]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[UNGVIEN] ([Id])
GO
ALTER TABLE [dbo].[TinXinViec]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[UNGVIEN] ([Id])
GO
ALTER TABLE [dbo].[UNGVIEN]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
USE [master]
GO
